---
layout: header
---


<div class="container-fluid">


  <div class="row-fluid">

        <div class="col-md-3">
            <br>
            <br>
            <img src="/assets/images/vav4.jpg" alt="profile picture"  class="resize" align="middle"/>
            <h2 class="name">Vanessa <br>
            Villanueva Collao </h2>
            <h3 class="tagline">Academic Fellow / Visiting Fellow at the Max Weber Programme </h3>
            <h4 class="tagline"><a class="a1" href="https://me.eui.eu/vanessa-villanueva-collao/" target="_blank">European University Institute</a></h4>
	<h5 class="tagline"><a class="a1" href="https://faculty.unibocconi.eu/vanessaantuanettevillanuevacollao/" target="_blank">Bocconi University</a></h5>

            <ul class="list-unstyled">
		    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:"vanessa.villanuevacollao@eui.eu"> vanessa.villanuevacollao (at) eui.eu </a></li>

                  <li class="email"><i class="fa fa-envelope"></i><a href="mailto:"vanessa.villanueva@unibocconi.it"> vanessa.villanueva (at) unibocconi.it</a></li>

                <li class="website"><i class="fa fa-website"></i><a class="a1" href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=3203253" target="_blank"> SSRN Vanessa Villanueva Collao</a></li>

               <li class="X/twitter"><i class="fa fa-twitter"></i><a class="a1" href="https://twitter.com/@VaneVillanuevaC" target="_blank"> VaneVillanuevaC </a></li>
            </ul>
        </div>

        <!-- ##################-->
        <!-- content -->
        <!-- ##################-->
        <div class="col-md-9"> {{ content }} </div>

</div>
</div>
